<div class='login'>
  <div class='box shadow-dark'>

    <div class='img-area shadow-dark'>
      <div class='img'>
      </div>
    </div>

    <div class='form'>
      <h1>Bienvenido</h1>

      <form>
        <div class='form-group'>
          <input type="email" placeholder="Correo electrónico" class='form-control'>
        </div>
        <div class='form-group'>
          <input type="password" placeholder="Contraseña" class='form-control'>
        </div>
        <div class='form-group'>
          <label><input type="checkbox">
            Recuérdame
          </label>
        </div>
        <div class='buttons'>
          <button type="button" class='btn normal'>Iniciar sesión</button>
        </div>
        <p class="register-btn">¿No tienes una cuenta?</p>
      </form>

    </div>

  </div>
</div>
