<div class='login'>
  <div class='box shadow-dark'>

    <div class='img-area shadow-dark'>
      <div class='img'>
      </div>
    </div>

    <div class='form'>
      <h1>Crea una cuenta</h1>

      <form>
        <div class='form-group'>
          <input type="text" placeholder="Nombre de usuario" class='form-control'>
        </div>
        <div class='form-group'>
          <input type="email" placeholder="Correo electrónico" class='form-control'>
        </div>
        <div class='form-group'>
          <input type="password" placeholder="Contraseña" class='form-control'>
        </div>
        <div class='form-group'>
          <input type="password" placeholder="Repetipa su contraseña" class='form-control'>
        </div>
        <div class='form-group'>
          <label><input type="checkbox">
            Acepto los términos y condiciones
          </label>
        </div>
        <div class='buttons'>
          <button type="button" class='btn normal'>Crear cuenta</button>
        </div>
        <p class="register-btn">
          <a routerLink="/login">¿Ya tienes una cuenta?</a>
        </p>
      </form>

    </div>

  </div>
</div>
