/*===============================*/
/*           Variables            */
/*===============================*/
:root {
  --main-color: #2196f3;
  --main-dark: #0D3A5C;
  --main-light: #DAEAF5;
}
/*===============================*/
/*           Variables            */
/*===============================*/
