/*===============================*/
/*           Variables            */
/*===============================*/
:root {
  --main-color: #4CAF50;
  --main-dark: #0D3A5C;
  --main-light: #E6F1E3;
}
/*===============================*/
/*           Variables            */
/*===============================*/
