/*===============================*/
/*           Variables            */
/*===============================*/
:root {
  --main-color: #FA5B0F;
  --main-dark: #4D1F00;
  --main-light: #F9DDCA;
}
/*===============================*/
/*           Variables            */
/*===============================*/
