/*===============================*/
/*           Variables            */
/*===============================*/
:root {
  --main-color: #EC1839;
  --main-dark: #6B5E5D;
  --main-light: #F5D6D5;
}
/*===============================*/
/*           Variables            */
/*===============================*/
