/*===============================*/
/*           Variables            */
/*===============================*/
:root {
  --main-color: #FFB400;
  --main-dark: #331F01;
  --main-light: #FCF5DF;
}
/*===============================*/
/*           Variables            */
/*===============================*/
