<!-- Start Aside -->
<aside class='aside'>

  <!-- Logo -->
  <div class='logo'>
    <a 
      (click)="showNav()"
      routerLink="/home"
    >
      MA - 01
    </a>
  </div>
  <!-- Logo -->

  <!-- Nav Toggle Btn -->
  <div
    class='nav-toggler'
    (click)="showNav()"
  >
    <span></span>
  </div>
  <!-- Nav Toggle Btn -->

  <!-- Navbar -->
  <ul class='nav'>
    <li *ngFor=" let item of sidebarService.menu">
      <a 
        [routerLink]="item.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="showNav()"
      >
      <i [class]='item.icon'></i> {{ item.title }}
      </a>
    </li>
  </ul>
  <!-- Navbar -->

  <!-- Copyright -->
  <div class='copyright-text'>
    &copy; 2020 Newflare Portfolio
  </div>
  <!-- Copyright -->

</aside>
<!-- End Aside -->
